<h1> Privacy policies</h1>


 This Privacy Statement informs you of our privacy practices and of the choices you can make about the way information about you,<br> including from your online activity is collected and how that information is used by Patel TECH. <br> 
This statement is readily available on our Patel TECH.com home page and at the bottom of every Patel Tech web page. <br>
Please use the links below to access translations of this statement and any applicable country specific or service specific supplements to the statement.